# ！！！！！命名規則！！！！！
* 前面標示_的資料夾及檔案代表是會被ignore的

# --- 私密資料 (絕對不能上傳) ---
* 這些檔案包含敏感資訊，必須確保不會被提交到 Git
* 真的機密的，移出這個資料夾，在開發日誌裡寫清楚東西在哪


# --- 暫時不用的素材 ---
_素材_不想上傳的

# --- 系統與開發工具雜物 ---
* 這些檔案是系統或開發工具產生的，通常不需要提交到 Git
